@model IEnumerable<Employee>


    @{
        
        ViewBag.Title = "Employee List";
    }

        <table>
            <thead>
                <tr><th>Id</th><th>Name</th><th>Department</th> </tr>
            </thead>
            <tbody>
                @foreach (var Employee in Model)
                {
                    <tr>
                        <td>@Employee.Id</td>
                        <td>@Employee.Name</td>
                        <td>@Employee.Department</td>
                    </tr>

                }
            </tbody>
        </table>
